.homepage section[role=main] {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
}

#scrollContainer {
	height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: scrollbar;
	padding-left: 120px;
}

.contentBox {
	/*height: 100%;
	width: 100%;*/
	display: -ms-grid;
	-ms-grid-rows: 270px 270px;
	-ms-grid-columns: 270px 270px 540px 270px 270px 120px; /* La última columna es sólo margen */
}

/* Esta truchada está para que tenga margen a la derecha, sino no me daba bola */
.contentBox:after {
	-ms-grid-column: 6;
	content: '';
	display: block;
}

	.contentBox h4 {
		font-size: 14pt;
		font-weight: bold;
	}

/* Layout */

#historia {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

#historiaEquipos {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

#historiaCamisetas {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

#laBombonera {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

#noticias {
	-ms-grid-row: 1;
	-ms-grid-column: 4;
}

#comisionDirectiva {
	-ms-grid-row: 2;
	-ms-grid-column: 4;
}

#informacionSocios {
	-ms-grid-row: 2;
	-ms-grid-column: 5;
}

.wide {
	height: 250px;
	width: 520px;
	-ms-grid-column-span: 2;
	margin: 10px;
	display: -ms-grid;
	-ms-grid-rows: 1fr;
	-ms-grid-columns: 1fr 170px;
}

	.wide .backgroundImage img {
		-ms-grid-column-span: 2;
		height: 250px;
		width: 520px;
	}


	.wide .wedge {
		-ms-grid-column: 2;
		display: -ms-grid;
		-ms-grid-columns: 1fr 120px;
	}

		.wide .wedge .diagonal {
			content: ' ';
			-ms-grid-column: 1;
			display: block;
			border-top: 250px solid transparent;
			border-right: 50px solid #ffbe00;
		}

		.wide .wedge h4 {
			-ms-grid-column: 2;
			padding-top: 210px;
			height: 40px;
			width: 120px;
		}

.square {
	height: 250px;
	width: 250px;
	margin: 10px;
	display: -ms-grid;
	-ms-grid-rows: 1fr 50px;
}

	.square .backgroundImage img {
		-ms-grid-row-span: 2;
		height: 250px;
		width: 250px;
	}

	.square .stripe {
		-ms-grid-row: 2;
		display: -ms-grid;
		-ms-grid-columns: 1fr 190px;
	}

		.square .stripe h4 {
			-ms-grid-column: 2;
			height: 30px;
			width: 170px;
			padding: 10px;
		}

		.square .stripe .diagonal {
			-ms-grid-column: 1;
			content: '';
			border-top: 50px solid transparent;
			border-right: 20px solid #ffbe00;
		}

.bigSquare {
	height: 520px;
	width: 520px;
	-ms-grid-row-span: 2;
	margin: 10px;
	display: -ms-grid;
	-ms-grid-rows: 1fr 100px;
}

	.bigSquare .backgroundImage img {
		height: 520px;
		width: 520px;
	}

	.bigSquare .stripe {
		-ms-grid-row: 2;
		display: -ms-grid;
		-ms-grid-columns: 1fr 440px;
	}

		.bigSquare .stripe .diagonal {
			-ms-grid-column: 1;
			content: '';
			border-top: 100px solid transparent;
			border-right: 40px solid #ffbe00;
		}

		.bigSquare .stripe h4 {
			-ms-grid-column: 2;
			height: 30px;
			width: 400px;
			padding: 35px 20px;
		}

.yellow h4 {
	color: #282b4a;
	background-color: #ffbe00;
}

@media screen and (-ms-view-state: snapped) {
    .map {
        display: none;
    }

    .homepage section[role=main] { 
        -ms-grid-columns:80% calc(75% - 120px);
        -ms-grid-rows:1fr;
        display:-ms-grid;
        padding-left:50px;
        padding-top:0px;
    }
    .contentBox .win-item {
        width: 200px;
    }
}

@media screen and (-ms-view-state: portrait) {

}
