.historiaCamisetas .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 0;
	width: 100%;
}

.historiaCamisetas .content article {
    column-fill: auto;
    column-gap: 0;
    column-span: all;
    column-width: 320px;
    height: calc(100% - 55px);
    margin-left: 120px;
    width: calc(100% - 120px);
}

.historiaCamisetas .margen {
    padding-top: 45px;
}

.historiaCamisetas .content .item-content section {
    height: 100%;
	width: 320px;
}

.historiaCamisetas .numeros {
    width: 100%;
    margin-top: 30px;
}

.historiaCamisetas .numeros td {
    border-bottom: 1px solid #CCC;
    height: 40px;
    vertical-align: central;
}

.historiaCamisetas .numeros td:last-child {
    font-weight: bold;
}

.historiaCamisetas .content article img {
    width: 320px;
}

.historiaCamisetas .content article img.auto {
    width: auto;
    height: auto;
}

.historiaCamisetas .content article section {
    break-inside: avoid-column;
    height: inherit;
}

.historiaCamisetas .numeros {
    width: 100%;
    margin-top: 30px;
}

.historiaCamisetas .numeros td {
    border-bottom: 1px solid #CCC;
    height: 40px;
    vertical-align: central;
}

.historiaCamisetas .numeros td:last-child {
    font-weight: bold;
}

.historiaCamisetas .numeros {
    clear: both;
}

.historiaCamisetas .center {
    text-align: center;
}


@media screen and (-ms-view-state: snapped) { }

@media screen and (-ms-view-state: portrait) { }
