.historia .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
	width: 100%;
    z-index: 0;
}

	.historia .content article {
		column-fill: auto;
		column-gap: 80px;
		column-span: all;
		column-width: 480px;
		height: calc(100% - 55px);
		margin-left: 120px;
		width: 480px;
	}

		.historia .content article img {
			width: 480px;
		}

		.historia .content article section {
			break-inside: avoid-column;
			height: inherit;
		}

		.historia .content article .item-content p {
			margin-top: 10px;
			margin-bottom: 20px;
			margin-right: 20px;
		}

.historia .numeros {
    width: 100%;
    margin-top: 30px;
}

	.historia .numeros td {
		border-bottom: 1px solid #CCC;
		height: 40px;
		vertical-align: central;
	}

	.historia .numeros td:last-child {
		font-weight: bold;
	}

@media screen and (-ms-view-state: snapped) {
	.historia .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        overflow-x: hidden;
        overflow-y: auto;
	}

		.historia .content article {
			-ms-grid-columns: 300px 1fr;
			-ms-grid-row: 2;
			-ms-grid-rows: auto 60px;
			display: -ms-grid;
			height: 100%;
			margin-left: 20px;
			margin-top: 6px;
			width: 300px;
		}

	        .historia .content article header .item-title {
                margin-bottom: 10px;
            }

            .historia .content article .item-image {
                width: 280px;
            }

            .historia .content article .item-content {
                padding-bottom: 60px;
            }

			.historia .content article img {
                width: 280px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .historia .content article {
        margin-left: 100px;
    }
}
