.laBombonera .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

.laBombonera .content article {
    column-fill: auto;
    column-gap: 80px;
    column-span: all;
    column-width: 480px;
    height: calc(100% - 55px);
    margin-left: 120px;
    width: 480px;
}

.laBombonera .content .item-content {
    height: 100%;
}

.laBombonera .numeros {
    width: 100%;
    margin-top: 30px;
}

.laBombonera .numeros td {
    border-bottom: 1px solid #CCC;
    height: 40px;
    vertical-align: central;
}

.laBombonera .numeros td:last-child {
    font-weight: bold;
}

.laBombonera .content article img {
    width: 480px;
}

.laBombonera .content article section {
    break-inside: avoid-column;
    height: inherit;
}


@media screen and (-ms-view-state: snapped) { }

@media screen and (-ms-view-state: portrait) { }
