.comisionDirectiva .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

	.comisionDirectiva .content article {
		column-fill: auto;
		column-gap: 80px;
		column-span: all;
		column-width: 480px;
		height: calc(100% - 55px);
		margin-left: 120px;
		width: 480px;
	}

		.comisionDirectiva .content article section {
			break-inside: avoid-column;
			height: inherit;
			margin-bottom: 40px;
		}

	.comisionDirectiva .content ul.personal {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.comisionDirectiva .content ul.personal li {
			border-bottom: 1px solid #CCC;
			padding: 20px 0 2px 0;
			margin: 0;
		}

		.comisionDirectiva .content ul.personal.menor li {
			padding: 15px 0 2px 0;
		}

		.comisionDirectiva .content ul.personal li.destacado {
			font-weight: bold;
		}

			.comisionDirectiva .content ul.personal li.destacado span {
				font-weight: normal;
			}

@media screen and (-ms-view-state: snapped) {
	.comisionDirectiva .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        overflow-x: hidden;
        overflow-y: auto;
	}

		.comisionDirectiva .content article {
			-ms-grid-columns: 300px 1fr;
			-ms-grid-row: 2;
			-ms-grid-rows: auto 60px;
			display: -ms-grid;
			height: 100%;
			margin-left: 20px;
			margin-top: 6px;
			width: 300px;
		}

	        .comisionDirectiva .content article header .item-title {
                margin-bottom: 10px;
            }

            .comisionDirectiva .content article .item-image {
                width: 280px;
            }

            .comisionDirectiva .content article .item-content {
                padding-bottom: 60px;
            }

			.comisionDirectiva .content article img {
                width: 280px;
            }

			.comisionDirectiva .content ul.personal {
				margin-right: 20px;
			}

			.comisionDirectiva .content h2 {
				margin-right: 20px;
			}
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .comisionDirectiva .content article {
        margin-left: 100px;
    }
}